@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+PE:wght@100..400&display=swap');

body {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

/* Cambio de fuente título tablero */
.titulo {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.form-control {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
}

/* Boton estilizado tipo postit */
.boton-postit {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.boton-postit:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.boton-postit:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .boton-postit {
        padding: 13px 50px 13px;
    }
}